@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;531;600;700;800;900&display=swap');

*,
*::after,
*::before {
/* This ensures that there is no whitespace surrounding our content. Comment this out or delete it, and you may see some unwelcome whitespace 😖. The * means everything. the ::after and ::before are pseudo elements, we'll cover these later in class */
  margin: 0;
  padding: 0;

  /* This is for our anchor (<a>) tag. It makes it so that there is a scrolling effect when we navigate to other parts of our page */
  scroll-behavior: smooth;
}


body {
    margin:0;
    padding:0;
    font-family: 'Heebo', sans-serif;
    background-color:rgb(128, 170, 248);
    padding-bottom:100px;
    
}

.frame {
    width:96%;
    box-sizing: border-box;
    border:4px solid gray;
    position: relative;
    margin:auto;
    border-radius: 8px;
    box-shadow: 0 0 12px rgb(13, 99, 157);
    margin-top:40px;
    overflow: hidden;
    max-width:1200px;
}
.wrapper {
    width:100%;
    box-sizing: border-box;
    margin:0;
}
.base {
    width:100%;
    box-sizing: border-box;
    float:none;
    display:block;
    padding:0;
    margin:0;
    background-color:white;
    height:70vh;
    position: relative;
}

.panel {
    width:100%;
    box-sizing: border-box;
    float:none;
    display:block;
    background-color:#eeeeee;
    vertical-align: top;
    margin-bottom:0;
    padding-top:40px;
    padding-bottom:20px;
}

.banner {
background-color:gray;
width:100%;
box-sizing: border-box;
margin:0;
min-height:60px;
padding-top:24px;
padding-left:18px;
font-family: 'Heebo', sans-serif;
color:white;
font-weight: 300;
font-size:2.7em;
line-height:1em;
letter-spacing:-.02em;
text-align: center;
user-select: none;
/* box-shadow:0 0 8px black; */
}

label {
    display:block;
    margin-left:5%;
    font-size:1.2em;
    padding-left:0;
    color:gray;
}
.city-input {
    display:inline-block;
    float:left;
    width:80%;
    box-sizing: border-box;
    margin-right:0;
    padding:10px;
    font-size:1.3em;
    border:1px solid #cccccc;
    outline:none;
    margin-left:5%;
}

.formButton {
    margin-left:0px;
    padding:10px;
    margin-top:0px;
    float:right;
    color:white;
    text-transform: uppercase;
    background-color:rgb(5, 85, 189);
    border-radius:4px;
    border:none;
    box-shadow:0 0 2px gray;
    cursor: pointer;
    outline:none;
    user-select: none;
    display:inline-block;
    float:left;
    font-size:1em;
    margin-left:4px;
}

.formButton:hover {  
    background-color:rgb(0, 110, 255);
    outline:none;
}

.formButton:active {  
    background-color:rgb(2, 40, 90);
    outline:none;
}

.city-button-block {
    display:block;
    border:1px solid #aaaaaa;
    width:90%;
    box-sizing: border-box;
    min-height:100px;
    margin:auto;
}

.city-button {
    width:100%;
    box-sizing: border-box;
    padding:10px;
    user-select: none;
    cursor: pointer;
    position: relative;
}
.del-button{
    position: absolute;
    top:0;
    right:0;
    height:100%;
    margin:0;
    padding:0;
    width:40px;
    background-color:#999999;
    color:white;
}

form {
    display:block;
    margin-bottom:10px;
}
.todays-weather-info {
    border:2px solid gray;
    border-radius:20px;

    width:90%;
    margin:auto;
    min-height:200px;
    margin-top:40px;
    padding:10px;
    padding-left:5%;
    box-sizing: border-box;
}

.todays-weather-info h1 {

}

.clear-all {
    width:90%;
    box-sizing: border-box;
    margin:5%;
    padding:8px;
    text-transform: uppercase;
    background-color:#dddddd;
    cursor: pointer;
    user-select: none;
}
.clear-all:hover {
    background-color:#bbbbbb;
}

.title-date {
    font-size:.7em;
    opacity:.5;
}

.weather-icon {
    position: absolute;
    top:14px;
    right:2%;
    width:160px;
    height:150px;
}

.weather-icon img {
    width:100%;
}

.forecast-card {
    width:20%;
    min-height:200px;
    display:inline-block;
    float:left;
    margin-top:20px;
    padding-top:20px;
    padding-left:8px;
    box-sizing: border-box;
    background-color:rgb(152, 195, 233);
    border:2px solid white;
    border-radius:8px;
}

.five-day-forecast {
    box-sizing: border-box;
    width:95%;
    margin:auto;
}

.forecast-title {
    font-size:2em;
    padding-left:5%;
    margin-top:30px;
}
.forecast-date {
    font-weight: bold;
    font-size:1.2em;
}

/*  ClearFix  */
/*  The ClearFix by Tony Aslett and Nicholas Gallagher */
.group:before,
.group:after {
content: "";
display: table; }

.group:after {
clear: both; }

.group {
zoom: 1;
}


@media only screen and (min-width:700px) {

    .panel {
        float:left;
        width:30%;
        min-height:600px;
        height:70vh;
    }

    .base {
        float:left;
        width:70%;
        height:70vh;
        min-height:600px;
    }

    .city-input {
        display:inline-block;
        float:left;
        width:70%;
        box-sizing: border-box;
        margin-right:0;
        padding:10px;
        font-size:1.3em;
        border:1px solid #cccccc;
        outline:none;
        margin-left:5%;
    }

}

